.header {
    height: 60px;
    display: flex;
    align-items: center;

    flex-flow: wrap;
    background-color: #131921;
    position: sticky;
    top: 0;
    /* Test this one later */
    z-index: 100;
    min-width: 700px;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__search input:focus {
    outline: none;
}

.header__searchInput {
    height: 12px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 10px;
    border: none;
    width: 100%;
    overflow: hidden;
    outline: none;
    border: none;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__nav>a {
    text-decoration: none;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.link {
    text-decoration: none;
}