.product {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    max-height: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    margin: 10px;
    z-index: 1;
    border-radius: 1em;
}

.product:hover {
    transition: 0.3s;
    transform: scale(1.02);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.product__title__truncate {
    max-height: 2.2em;
    overflow: hidden;
}

.product>img {
    max-height: 200px;
    max-width: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.product>.product__info {
    align-self: flex-start;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;
    color: #a88734;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}

.product>button {
    background: #f0c14b;
    cursor: pointer;
    padding: 3px 15px;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}