.modal {

    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal__container {
    background-color: white;
    padding: 1rem;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    border-radius: 0.8em;

}

.modal__button_container {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

/* .form {
    flex-direction: column;

}

.container>input {
    padding: 1px;
    background-color: red;
}

.MuiTextField-root>input {
   
    padding: 10px;
    outline-color: red !important;
} */

.modal__button {
    color: #fff;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    background-color: blue;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal__button:hover {
    transform: scale(1.05);
}