.modal {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    transition: 0.2s ease-in-out;
    min-width: 320px;
}

.modal__container {
    background-color: white;
    padding: 1.5rem;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    border-radius: 0.8em;
}

.modal__button_container {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.fadeIn {
    transform: scale(1);
    opacity: 1;
}

.fadeOut {
    z-index: 0;
    opacity: 0;
    transform: scale(0);

}

.modal__button {
    color: #fff;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    background-color: blue;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal__button:hover {
    transform: scale(1.05);
}